<router-outlet></router-outlet>

<div>
  <h2>Diagnostics</h2>
  <table>
    <tr>
      <td>Player 0 Name</td>
      <td>{{players[0].name}}</td>
    </tr>
    <tr>
      <td>Player 0 Duckets</td>
      <td>{{players[0].duckets}}</td>
    </tr>
    <tr>
      <td>Player 0 Destination</td>
      <td>{{players[0].destination}}</td>
    </tr>
    <tr>
      <td>destination</td>
      <td>{{destination}}</td>
    </tr>
    <tr>
      <td>Ship index</td>
      <td>{{shipIndex}}</td>
    </tr>
    <tr>
      <td>Ship {{shipIndex}} Name</td>
      <td>{{ships[shipIndex].name}}</td>
    </tr>
    <tr>
      <td>Ship {{shipIndex}} Size</td>
      <td>{{ships[shipIndex].size}}</td>
    </tr>
    <tr>
      <td>Port {{portIndex}} Name</td>
      <td>{{ports[portIndex].name}}</td>
    </tr>
    <tr>
      <td>Port {{portIndex}} Stock 0 [{{commodities[0]}}]</td>
      <td>{{ports[portIndex].stock[0]}}</td>
    </tr>
  </table>
</div>