<router-outlet></router-outlet>

<!-- div>
  <h2>Diagnostics</h2>
  <table>
    <tr>
      <td>Player 0 Name</td>
      <td>{{players[0].name}}</td>
    </tr>
    <tr>
      <td>Player 0 Duckets</td>
      <td>{{players[0].duckets}}</td>
    </tr>
    <tr>
      <td>Ship 0 Name</td>
      <td>{{ships[0].name}}</td>
    </tr>
    <tr>
      <td>Ship 0 Size</td>
      <td>{{ships[0].size}}</td>
    </tr>
    <tr>
      <td>Port 0 Name</td>
      <td>{{ports[0].name}}</td>
    </tr>
    <tr>
      <td>Port 0 Stock 0 [{{commodities[0]}}]</td>
      <td>{{ports[0].stock[0]}}</td>
    </tr>
  </table>
</div -->