<div style="text-align:center">
  <h1>
   {{title}}
  </h1>
<!-- object data="assets/atLogoMock.svg" type="image/svg+xml" -->
  <img src="assets/atFallback.jpg" alt="Constantine Volanakis"/>
<!-- /object -->
  <p id="builtBy">Built by Shannon Ware in Ireland.</p>
  <input type="button" value="Start" />
  <input type="button" value="How To" />
</div>

<div>
  <h2>Diagnostics</h2>
  <table>
    <tr>
      <td>Player 0 Name</td>
      <td>{{players[0].name}}</td>
    </tr>
    <tr>
      <td>Player 0 Duckets</td>
      <td>{{players[0].duckets}}</td>
    </tr>
    <tr>
      <td>Ship 0 Name</td>
      <td>{{ships[0].name}}</td>
    </tr>
    <tr>
      <td>Ship 0 Size</td>
      <td>{{ships[0].size}}</td>
    </tr>
    <tr>
      <td>Port 0 Name</td>
      <td>{{ports[0].name}}</td>
    </tr>
    <tr>
      <td>Port 0 Stock 0 [{{commodities[0]}}]</td>
      <td>{{ports[0].stock[0]}}</td>
    </tr>
  </table>
</div>